@import '../core/colors';
@import '../alt-core/base';
.courses {
//   .container {

//   }

  #courses {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;

      @include md {
          grid-template-columns: 1fr 1fr;
      }

      @include lg {
          grid-template-columns: 1fr 1fr 1fr;
      }

      .course {
          position: relative;
          border-radius: 8px;
          overflow: hidden;
          @include shadow-s;

          .bestseller-tag {
              background-color: $success;
              position: absolute;
              top: 20px;
              left: 20px;
              padding: 5px 10px;
              border-radius: 5px;
              color: $white;
          }

          .btn-save {
              background-color: $white;
              height: 36px;
              width: 36px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: 20px;
              right: 20px;
              border: none;
              @include shadow-s;
          }

          img {
              width: 100%;
          }

          .content {
              padding: 20px;
          }

          .price {
              color: $theme;
              font-weight: bold;
          }

          .course-footer {
              display: flex;
              gap: 30px;
          }
      }
    }
  
}