* {
  margin: 0;
  box-sizing: border-box;

}

#error {
  background: $gradient-background;
  height: 100vh;
  padding-bottom: 0px;
}
.error-section {

  margin-top: -6rem;
  padding: 0;
  z-index: -1;
  height: calc(100vh + 1.2rem);
  


.copyright {

  p{
  position: absolute;
  bottom: 100px;
  left: 320px;
  font-family: $font-manrope;

  font-size: 14px;
  font-weight: 300;
  color: $gray-600;
  }
}

.error-container {
  display: block;
  align-items: center;
  padding-top: 70px;
  gap: 30px;
  grid-template-rows: auto;
}

.error-box {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-home {

  display: flex;
  justify-content: center;
  align-items: center;
}
.error-message-1 {

  grid-area: content;
  text-align: center;
  padding: 20px;

  h1{

    font-family: $font-manrope;
    font-size: 48px;
    font-weight: 900;
  }

  p {
    font-family: $font-manrope;
    font-size: 20px;
  }

}
}
